/target
/dist
/node_modules
/*.tgz
/js/kimg_wasm_bg.d.ts
/js/kimg_wasm_simd.d.ts
/js/kimg_wasm_bg.js
/js/kimg_wasm_simd.js
/js/kimg_wasm_text_bg.d.ts
/js/kimg_wasm_text_simd.d.ts
/js/kimg_wasm_text_bg.js
/js/kimg_wasm_text_simd.js
*.swp
*.swo
*.png
!demo/assets/teapot.png
.DS_Store

# Rust backup files
**/*.rs.bk
*.pdb

# Fuzzing artifacts
**/fuzz/artifacts/
**/fuzz/target/
**/fuzz/corpus/
